*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.sidebar-menu{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
