.product-card {
  max-width: 600px;

  display: grid;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 2px solid rebeccapurple;
  background-color: rgb(165, 110, 42);
  border-radius: 17px;
}
div {
  
}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
