*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #d2d1d1;
    color: #d05b37;

}
.navbar{
    position: fixed;
    width: 100%;
    min-width: 600px;
    z-index: 1000;
}
.links{
    background-color: #060517;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    padding: 1.1rem;
    /* margin: 0; */
}
a{
    text-decoration: none;
    color: #d05b37;
    /* color: black; */
}
li{
    list-style: none;

}
.recipe-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 10px;
    padding-top: 3.6rem;
}
.recipe-card{
    position: relative;
    background-color: #060517;
    margin: 15px 10px;
    /* border: 5px solid #09d1ec; */
    box-shadow: 8px 4px 5px rgb(131, 130, 130);
    /* padding: 5px; */
    overflow: hidden;
    border-radius: 12px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    /* transition: box-shadow 1s ease; */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    
}
.recipe-card:hover{
    transform: translateY(-6px);
    box-shadow: 14px 8px 10px rgb(99, 99, 99) ;
}
.recipe-image{
    /* display: block; */
    width: 100%;
    height: 280px;
    object-fit: cover;
    align-items: center;
}
.recipe-info{
    padding: 20px;
}
.tag{
    background-color: aliceblue;
    padding: 4px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    position: absolute;
    top: 10px; left: 10px;
    font-weight: 700;
}