body{
    
}
.site-header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #002147dd ;
    backdrop-filter: blur(12px);
}
.nav-container{
    max-width: 1400px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.cart-wrapper{
    position: relative;
}
.cart-badge{
    position: absolute;
    top: -5px; left: 28px;
    color: #d2b48c;

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #d2b48c;
    text-transform: uppercase;
    text-align:center ;

}
.header-action{
    display:flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 10px;
}
button{
    background-color: #d2b48c;

}